    <nav class="ca_prov"><ul>
        <li class="home_link"><a href="/">VC</a></li>
        <li class="home_link"><a href="/ca/">CA</a></li>
        <li class="prov sgc6 yk"><a href="#prov_62">YK</a></li>
        <li class="prov sgc6 nt"><a href="#prov_61">NT</a></li>
        <li class="prov sgc6 nu"><a href="#prov_60">NU</a></li>
        <li class="prov sgc5 bc"><a href="#prov_59">BC</a></li>
        <li class="prov sgc4 ab"><a href="#prov_48">AB</a></li>
        <li class="prov sgc4 sk"><a href="#prov_47">SK</a></li>
        <li class="prov sgc4 mb"><a href="#prov_46">MB</a></li>
        <li class="prov sgc3 on"><a href="#prov_35">ON</a></li>
        <li class="prov sgc2 qc"><a href="#prov_24">QC</a></li>
        <li class="prov sgc1 nb"><a href="#prov_13">NB</a></li>
        <li class="prov sgc1 ns"><a href="#prov_12">NS</a></li>
        <li class="prov sgc1 pe"><a href="#prov_11">PE</a></li>
        <li class="prov sgc1 nl"><a href="#prov_10">NL</a> </li>
    </ul></nav>