<header>
{%- block site_header %}
    <nav><ul>
        <li class="home_link"><a href="/">VC</a></li>
        <li class="home_link"><a href="/ca/">CA</a></li>
        <li class="prov sgc6 yk"><a href="/ca/yk/">YK</a></li>
        <li class="prov sgc6 nt"><a href="/ca/nt/">NT</a></li>
        <li class="prov sgc6 nu"><a href="/ca/nu/">NU</a></li>
        <li class="prov sgc5 bc"><a href="/ca/bc/">BC</a></li>
        <li class="prov sgc4 ab"><a href="/ca/ab/">AB</a></li>
        <li class="prov sgc4 sk"><a href="/ca/sk/">SK</a></li>
        <li class="prov sgc4 mb"><a href="/ca/mb/">MB</a></li>
        <li class="prov sgc3 on"><a href="/ca/on/">ON</a></li>
        <li class="prov sgc2 qc"><a href="/ca/qc/">QC</a></li>
        <li class="prov sgc1 nb"><a href="/ca/nb/">NB</a></li>
        <li class="prov sgc1 ns"><a href="/ca/ns/">NS</a></li>
        <li class="prov sgc1 pe"><a href="/ca/pe/">PE</a></li>
        <li class="prov sgc1 nl"><a href="/ca/nl/">NL</a> </li>
    </ul></nav>
    <div>
        {%- block site_header_title %}
        <span class="site_title">{{ config.title }}</span>
        <span class="page_title">{% block title %}{% endblock %}</span>
        {%- endblock site_header_title %}
    </div>
{%- endblock site_header %}
</header>