<!doctype html>
<html lang="{{ lang }}">

<head>
    {%- block html_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block html_title %}{{ config.title }}{% endblock html_title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='/vc.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {%- if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {%- endif %}

    {%- endblock html_head %}
</head>

<body>  

{%- block site_header %}
<header>
    <div class="site_header">
        {%- block site_header_title %}
        <span class="site_title">{{ config.title }}</span>
        {%- endblock site_header_title %}
    </div>
</header>
{% endblock site_header %}

{% block main %}
<main>
    {% block content %}{% endblock content %}
</main>
{% endblock main %}

{% block children %}{% endblock children %}
{% include "partials/site-footer.html" %}

</body>
</html>