{% extends "page.html" %}

{% import "macros/debug.html" as debug %}


{% block main %}
<main >
  
  {% set result_data = load_data(path="data/ca_ge"~page.extra.election_id~"_results.json") %}
  {% set district_results = result_data[page.extra.district_id] %}
  

  {{ page.content | safe }}
  {%- set chart_data = "" %}
  {%- set chart_labels = "" %}
  <section class="election">

    <section class="results_data">
    {% for candidate in district_results.candidates %}
      <div class="candidate">
        <span class="candidate_name">{{ candidate.name }}</span>
        <span class="candidate_party">{{ candidate.party }}</span>
        <span class="candidate_count_ballots">{{ candidate.ballots }}</span>
        <span class="candidate_count_percent">{{ candidate.per_ballots }}%</span>
      </div>
      {% if chart_labels != '' %}{% set_global chart_labels = chart_labels ~ ',' %}{% endif %}
      {%- if chart_data != '' %}{% set_global chart_data = chart_data ~ ',' %}{% endif %}
      {%- set_global chart_labels = chart_labels ~ '"' ~ candidate.party ~ '"' %}
      {%- set_global chart_data = chart_data ~ '"' ~ candidate.ballots ~ '"' %}
    {% endfor %}
    </section>
    <section class="results_chart">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <canvas id="myChart"></canvas>

      <script>
      const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{{ chart_labels | safe }}],
          datasets: [{
            label: '# of Votes',
            data: [{{ chart_data | safe }}],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
    </section>
  </section>
  
</main>

<nav class="ca_dist">
{% include "partials/districts.html" %}
</nav>

{% endblock main %}
