{% extends "base.html" %}

{% import "macros/debug.html" as debug %}


{% block site_header_title %}
<span class="site_title">{{ config.title }}</span>
<h1 class="page_title">{% block title %}{% endblock %}</h1>
{% endblock site_header_title %}




{% block main %}
<main>
  
  {% set result_data = load_data(path="data/preliminary_results.json") %}
  {% set district_results = result_data[page.extra.district_id] %}
  
  {% if config.extra.uncouth_theme_use_page_name == false %}
  <header>
    <h1>{{ page.title }}</h1>
    {% block title %}{{ page.title }}{% endblock title %}
</header>
{% endif %}


{{ page.content | safe }}
{%- set chart_data = "" %}
{%- set chart_labels = "" %}
<section class="election">
  <header><h1>45GE Preliminary Results</h1></header>

  <section class="results_data">
  {% for candidate in district_results %}
    <div class="candidate">
      <span class="candidate_name">{{ candidate.name_first}} {{ candidate.name_middle }} {{ candidate.name_last }}</span>
      <span class="candidate_party">{{ candidate.party }}</span>
      <span class="candidate_count_ballots">{{ candidate.count_ballots }}</span>
      <span class="candidate_count_percent">{{ candidate.percent_ballots }}%</span>
    </div>
    {% if chart_labels != '' %}{% set_global chart_labels = chart_labels ~ ',' %}{% endif %}
    {%- if chart_data != '' %}{% set_global chart_data = chart_data ~ ',' %}{% endif %}
    {%- set_global chart_labels = chart_labels ~ '"' ~ candidate.party ~ '"' %}
    {%- set_global chart_data = chart_data ~ '"' ~ candidate.count_ballots ~ '"' %}
  {% endfor %}
  </section>
  <section class="results_chart">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="myChart"></canvas>

    <script>
    const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{{ chart_labels | safe }}],
          datasets: [{
            label: '# of Votes',
            data: [{{ chart_data | safe }}],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
    </section>
  </section>
  

</main>
{% endblock main %}
