{# List of federal elections #}

{% extends "section.html" %}

{% import "macros/debug.html" as debug %}




{% block children %}


<div class="ca_e_list"><div class="">
{% for s in section.subsections %}
    {% set s = get_section(path=s) %}
    {% set party_data = load_data(path="data/ca_ge"~s.extra.election_id~"_parties.json") %}

    <a class="card party" href="{{ s.permalink }}">
        <header>
            🗳️ {{ s.title }}
        </header>
        <div class="candidate">
            <span class="badge p_liberal">[Winner]</span>
            ([Year])
        </div>
        <footer class="district_history">
            {% set_global count = 1 %}
            {% for id,party in party_data['CA'] %}
            <div class="p_{{ id }}">
                {{id}}<br/>
                {{ party['pb_mean'] }}%
            </div>
            {% set_global count = count + 1 %}
            {% if count > 4 %}{% break %}{% endif %}
        {% endfor %}
        </footer>
    </a>
{% endfor  %}
</div></div>
</article>

{% endblock children %}